<h1>welcome, <%= current_user.name %></h1>
<p>it's a great day to be in <%= current_user.default_location %></p>

<div class="current-temp">
  <h1><%= @weather_music.forecast_temp %><h1>
</div>













 <%# <%= select_tag(:states, options_for_select(us_states), {class: "select-field"}) %>
