  <div class="hero-text">
    <h1 style="font-size:50px">weather-bop</h1>
    <br><br>
    <h4>music influenced by meteorology<h4>
    <br><br><br><br>
    <a href= '/auth/spotify' role='button' id='login'>
      <%= image_tag('https://texpatnyc.com/images/spotifyConnect.png', style: 'width: 250px; height: auto') %>
    </a><br><br><br><br>
  </div>
