/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  background:url(https://i.pinimg.com/originals/a5/54/5c/a5545c8e5dc2d05596eefaacc7aea3e9.jpg) no-repeat !important;
  background-size:cover;
}

// img {
//   opacity: 0.5;
// }

img:hover {
  opacity: 0.5;
}

.login {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}

.bg-navbar{
    background: #595959;
}

.nav-link {
  font-size: 20px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.input-field {
  text-align: center;
}
select {
  width: 200px;
  text-align-last:center;
}
