/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  font-family: Garamond;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/117/937/196/clouds-sky-night-sky-simple-background-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow:5px 5px 10px #00FF00;
}

ul li a{
    margin-right: 30px;
    margin-left: 30px;
    text-shadow:5px 5px 30px #00FF00;
}

a {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0);
  color:rgba(0, 255, 85, 0.6);
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: underline;
}

img:hover {
  opacity: 1.0;
}

.login {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}

.welcome {
  padding-top: 50px;
  margin-left: 10px;
  text-shadow:5px 5px 30px #00FF00;
}

.nav-link {
  font-size: 20px;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.input-field {
  text-align: center;
}
select {
  width: 200px;
  text-align-last:center;
}

.forecast-details {
  padding-top: 50px;
  padding-left: 10px;
  color: white;
  text-shadow:5px 5px 30px #00FF00;
}

.search {
  padding-top: 20px;
  color: white;
  text-shadow:5px 5px 30px #00FF00;
}

.edit {
  padding-top: 20px;
  color: white;
  text-shadow:5px 5px 30px #00FF00;
}

.track-list {
  padding-top: 55px;
  padding-left: 10px;
  color: white;
  text-shadow:5px 5px 30px #00FF00;
}

.player {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 60px;
}

.search-button {
  background-color: rgba(238, 130, 238, 0.4);
  border-radius: 10px;
  border-color: white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 20px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.7), 0 6px 20px 0 rgba(0,0,0,0.19);
}
