
@import "bootstrap";

body {
  background:url(https://i.pinimg.com/originals/a5/54/5c/a5545c8e5dc2d05596eefaacc7aea3e9.jpg) no-repeat !important;
  background-size:cover;
}

.login {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 200px;
}

.bg-navbar{
    background: #b3c6ff;
}

.nav-link {
  font-size: 20px;
}
